<div class="container">
  <%= form_for [:admin, @user] do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
      </div>
      <div class="container">
        <ul class="list-group">
          <% @user.errors.full_messages.each do |msg| %>
            <li class="list-item"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :firstname, "First Name" %><br>
        <%= f.text_field :firstname, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :lastname, "Last Name" %><br>
        <%= f.text_field :lastname, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :admin_user %>
        <%= f.check_box :admin_user, :class => "checkbox" %>
      </div>
      <div><%= f.submit "Submit", :class => "btn btn-default" %></div>
    </div>
  </div>
  <% end %>